* {
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    width: 1vw;
    height: 0.1vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #7775;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.submissionInformationContainer button:hover {
    background-color: rgba(0,0, 0, 0);
}



.mainFont {
    font-family: 'Fira Code', monospace;
}

.font500 {
    font-weight: 500;
}

.font400 {
    font-weight: 400;
}

.font300 {
    font-weight: 300;
}

.font200 {
    font-weight: 200;
}

.font100 {
    font-weight: 100;
}

.smallerMainFont {
    font-family: 'Fira Code', monospace;
    font-size: 1.5rem;
}

html::-webkit-scrollbar-track {
    background-color: rgba(14,12,16,0.12);
}

html::-webkit-scrollbar-track {
    background-color: rgb(14,12,16)
}

.userTitleContainer {
    
    align-self: flex-start;
    height: 140px;
    width: 100%;
}

.userTitleCard {
    border-radius: 25px;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-between;
}

.profileContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.padLeft {
    padding-left: 2rem;
}



.grayText {
    color: rgb(127,127,127);
}

.wpmCard {
    display: flex;
    justify-content: space-evenly;
}
.graphContentContainer {
    display: flex;
    flex-direction: row;
}

.dailySolutionGraph {
    margin-left: 10px;
    border-radius: 25px;
    margin-top: 75px;
    padding-top: 10px;
    width: 92%;
    height: 355px;
}
.graphContainer {
   
    margin-left: 30px;
    border-radius: 25px;
    margin-top: 75px;
    padding-top: 10px;
    width: 94%;
    height: 355px;
    
    
}

.generalInfoCard {
    
    padding-top: 20px;
    width: 175px;
}

.submissionCard {
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    height: 400px;
    padding: 2rem;
    padding-top: 1px !important;
}

.submissionContentContainer {
    
    border-radius: 25px;
    width: 100%;
    height: 400px;
    
}
.submissionContainer {
    border-radius: 25px;
    width: 100%;
    height: 350px;
    
}

.bestSubmissionsContainer {
    width: 100%;
}

.bestTitle {
    transform: translateX(-50px);

}

.recentSubmissionsContainer {
    width: 50%;
    margin-left: -70px;
    

}

.soltitle {
    font-size:0.8vw;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.individualSubmissionContainer {
    width: 110%;
    height: 70px;
    margin-top: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    
    
    
}   

.trophyIcon {
    color: rgb(246, 249, 165);
    padding-top: 3px;
    font-size: 2vh;
    
}

.leaderboardSolutionContainer {
    background-color: rgb(31,31,35);
    width: 200%;
    height: 70px;
    margin-top: 25px;
    border-radius: 25px;
    align-self: center;
    
    
    
}   

.podiumIcon {
    font-size: 20px;
}

.no-select {
    user-select: none;
}

.userInputContainer {
    padding-right: 10px;
}

.submissionText {
    color: rgb(127,127,127);
    width: 100%;
    padding: 1.5rem;
}

.badgeContainer {
    text-align: center;
}


.solutionTitleDiv {
    background-color: rgba(85, 83, 83, 0.32);
    height: 5px;
    height: 50%;
    border-radius: 10px;
    padding-bottom: 5px;
}

.solutionTitleDiv button {
    background-color: rgba(0,0, 0, 0);
    height: 60%;
    border-radius: 25px;
}

.solutionTitleDiv button:hover {
    background-color: rgba(0,0, 0, 0);
    height: 60%;
    border-radius: 25px;
}

.badge {
    color:rgb(124, 197, 124);
    padding-right: 5px;
    user-select: none;
}

.submissionInformationContainer {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.submissionWPMDisplay {
    font-size: 1.5vh;
    color:rgb(181, 181, 181)
}


.generalUserInfo {
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    padding-top: 8px;
    
    
}

.signoutButton {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.bestSubmissionTitle {
    text-align: left;
}




.userTitle {
}

#text {
    color: green;
  font-family: Courier New;
  font-size: 30px;
}


.Logo {
    display:flex;   
    flex-direction: row;
}

.aboutContainer a {
    text-decoration: underline;
}
.glow {
    color: #fff;
    text-shadow: 0px 0px 10px rgb(240, 229, 23), 0px 0px 5px rgb(252, 252, 25);
  }
  
  .settingsNavButton {
    color: rgb(146, 0, 0);
  }

.nav {
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    color: rgb(161, 161, 161);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    display: flex;
    padding-top:3rem;
    width: 70%;
    position: fixed;
    background-color: rgb(14,14,16); /* Black w/opacity/see-through */
    z-index: 1;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    width: 100%;
   
}

.underline {
    text-decoration: underline;

}

.loader {
    border: 8px solid #464646;
    border-radius: 50%;
    border-top: 8px solid #FFCD29;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.lbButton button:active {
    background-color: transparent;
}

.nav a.active:not(.site-title):not(.settingsNavButton) {
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 42px #0fa, 0 0 92px #0fa,0 0 92px #0fa;
    
}

.standardButton button {
    color: gray;
    background-color: transparent;
}

.standardButton button:hover {
    color: var(--maintext);
    background-color: transparent;
}

.standardButton button:active {
    color: gray;
    background-color: transparent;
}

.nav ul {
    
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li:active {
}


.nav li:hover {
    color: white;
    
}


.site-title {
    font-size: 2rem;
}


.correct {
    font-size: bold;
    color: rgb(124, 197, 124) !important;
}

.incorrect {
    font-size: bold;
    color: rgb(241, 83, 83) !important;
}

.active {
    color:rgb(222, 222, 222) !important;
}

.displayText {
    user-select: none;
}



.displayText span{
    color: rgb(127,127,127);
    white-space: pre;
    user-select: none;
    word-break: break-all !important;

}


.activePage {
    background-color: #555;
}

.whiteText {
    color:rgb(244, 244, 244)
}



.pageContainer {
    margin: 1rem;
}

.aboutContainer {
    text-align: center;
    color:rgb(244, 244, 244)
}

.wordLimitButton {
    width: 32px ;
    height: 30px !important;
    border-radius: 0px !important;
}

.title {

    display: flex;
    justify-content: center;
    background-color: rgb(210, 227, 243);
    border-radius: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
    background-color: rgb(14,14,16);
    --maintext: rgb(244,244,244);
}



.container {
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
.content {
    margin-top: 20px;
    
    background-color: transparent;

    border-radius: 10px;
    width: 80%;
    height: fit-content;
    padding: 2rem;
    
    

    
}

.searchModal button {
    background-color: transparent;
    color: gray;
}
.searchModal button:hover {
    background-color: transparent;
    color: rgb(244, 244, 244);
}



.inputContainer {
    padding: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}

.inputContainer button:focus {
    background-color: #555;
}

.restartDiv button {
    background-color: rgba(0, 0, 0, 0.2);
    color: aliceblue;
    padding-left: 0px;
    order: 1;
}
.restartDiv button:hover{
    background-color: rgba(0, 0, 0, 0.405);
    padding-left: 0px;
    order: 1;
}

.restartDiv button:focus{
    background-color: rgba(0, 0, 0, 0.405);
    padding-left: 0px;
    order: 1;
}

.userInput {

}





.restartDiv button {
    
}



.text {
    margin-top: 25px;
    border-color: black;
    font-size: 200%;
    font-family: 'Inconsolata', sans-serif;

}



#userInput {
    text-align: center;
}

.textInput {
    background-color: transparent;
    user-select: none;
    outline: none;
    width: 25%;
    height: 50px;
    text-align: center;
    background-color: rgba(244,244,244, 0.12);
    border-radius: 10px;
    font-size: 30px;
    border-radius: 10px;
    border: 0px;
    color: rgb(244,244,244);
    
    font-family: 'Fira Code', monospace;
    
}

.textContainer {
    text-align: center;
}

.textContainer input:focus {
    text-align: center;
    background-color: rgba(244,244,244, 0.12);
}


#userInput button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50px;
    height: 50px;
    border: 0px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(247, 247, 227);
    background: rgba(255, 255, 255, 0.12);
    color:var(--maintext);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.19);
    border-radius: 15px; 
    
}

.wordsLeft {
    color: rgb(244, 244, 244);
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#userInput button:hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgba(207, 207, 207, 0.12);
    
}

.maxWordsDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 5%;
    padding-left: 25px;
}

.maxWordsDiv input {
    background-color: transparent;
    align-self: center;
    user-select: none;
    outline: none;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    font-size: 30px;
    border-radius: 10px;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.maxWordsDiv input::placeholder {
    transform: translateY(-5px);
    font-size: 30px;
}
.maxWordsDiv input:focus {
    background-color: transparent;
    user-select: none;
    outline: none;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    font-size: 30px;
    border-radius: 10px;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.error {
    color: rgb(215, 48, 48);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: bold;
}



.codingSettings Button {
    align-self: center;
    height: 30px;
    width: 100px;
    border-radius: 0px;
}


.languageSettings Button {
    color: rgb(0, 0, 0);
}

.codingSettings {
    display: flex;
    justify-content: center;
}




#userInput {
    padding-top: 25px;
}

.leetcodeTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color:whitesmoke;
    

    
}

.smallerText {
    font-size: 20px;
    color: var(--maintext);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #555;
    align-items: center;
    text-align: center;
}

.trashIcon {
    color: rgb(157, 157, 157);
    font-size: 24px;
}

#timer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(244,244,244)
}

.trashButton button:hover {
    
    background-color: transparent;
}

.TimerAndInputContainer {
    width: 1000px;
    display: grid;
    justify-content: flex-start;
}

.reminder {
    font-style: italic;
    color:var(--maintext);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}

.wpm {
    font-size: 100px;
    color:#777;
}

.currentCorrect {
    /* color: rgb(124, 197, 124);
    font-weight: bold; */
    color:rgb(124, 197, 124) !important;
}

.underlineRed {
    text-decoration: underline;
    text-decoration-color: rgb(245, 141, 141);
}

.currentIncorrect {
    color: rgb(245, 141, 141) !important;
}

.maintext {
    color: var(--maintext);
}

.whiteUnderline {
    text-decoration: underline;
    text-decoration-color: rgb(244,244,244);
}




