.correct {
    font-size: bold;
    color: green;
}

.incorrect {
    font-size: bold;
    color: red;
}

.active {
    font-weight: bold;
}

.y {
    background-color: green;
}

.n {
    background-color: red;
}

.doing {
    background-color: gray;
    color: white;
}

.notPressed {
    background-color: gray;
}

.containter {
    width: 500px;  
    background-color: aliceblue;
    
}
.title {
    display: flex;
    justify-content: center;
    background-color: rgb(210, 227, 243);
    border-radius: 100px;
    outline: invert;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
    background-color: aliceblue;
}

.content {
    background-color: rgb(231, 244, 244);
    border-radius: 10px;
    translate: 0 20px;
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.text {
    border-color: black;
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content input{
    background-color: transparent;
    user-select: none;
    outline: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border: 0px;
}

.content input:focus {
    background-color: rgba(0, 0, 0, 0.12);
}

.content button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 25px;
    padding: 0px 2px;
    border: 0px;
    border-radius: 10px;
    transform: translateY(10px);
    background-color: rgb(247, 247, 227);
    
}

.content button:hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(225, 225, 199);
    
}


#timer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}




